@charset "utf-8";

*{
	padding:0;
	margin:0;
	font-family: Arial, Helvetica,"微軟正黑體", sans-serif;
	color: white;
	box-sizing: border-box;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}

body {
	background-image:linear-gradient(135deg, #a372c1 0%, #eda1c4 100%);
}

/*header：logo---------------------------------------------------*/
header{
	display: flex;
	justify-content: center;
}
header h1 {
	text-align: center;
}
header h1 img{
	width: 50%;
	height: auto;
}

/*footer：底部-----------------------------------------------------*/
footer{
	background-color: rgba(255, 255, 255, 0.174);
	padding: 3%;
}

footer p{
	color: rgb(255, 230, 138);
	font-weight: 800;
	text-align: center;
	padding: 0.5%;
	font-size: 0.5em;
}