<!DOCTYPE html>
<html lang="sh-Hant">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Sleep - {%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/normalize.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    {%block head%}{%endblock%}
    <script src="{{url_for('static',filename='js/jquery-1.10.2.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/jquery-ui-1.10.4.custom.min.js')}}"></script>
    <script src="{{url_for('static',filename='js/myJS.js')}}"></script>
</head>

<body>
    <header> <!--logo，考慮一下要不要用立體字-->
        <h1><img src="{{url_for('static',filename='img/logo.png')}}"
                    alt="pokemon_sleep_logo"></h1>
    </header>
    
    {%block content%}{%endblock%}

    <footer> <!--底部-->
        <p>ポケモン ゲットだぜ</p>
        <p>サトシ</p>
    </footer>
</body>

</html>